.invitation_record {
  padding-top: 60px;
  .inner{
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .top_background {
    display: flex;
    align-items: center;
    height: 200px;
    background: url("~@/assets/images/glass_UI_template_pop_out_message_box_0-03-03@2x.png") no-repeat;
    background-size: cover;
    h1 {
      color: #fff;
      font-size: .45rem;
      font-weight: bold;
      margin-left: 5rem;
    }
  }
  .content{
    padding: 20px 0;
    .top{
      // background: linear-gradient(0deg, #6717CD 0%, #2871FA 100%);
      // height: 100px;
      display: flex;
      justify-content: space-around;
      border-radius: 10px;
      margin-bottom: 10px;
      .left{
        border-radius: .1rem;
        padding: 0.1rem .6rem;
        width: 48%;
        background: linear-gradient(0deg, #6717CD 0%, #2871FA 100%);
        h2{
          font-size: .4rem;
          font-weight: bold;
          color: #FFFFFF;
          text-shadow: 0px 0px 7px rgba(52, 255, 204, 0.1);
          background: linear-gradient(0deg, #9AFCC2 0%, #F5F588 61.1083984375%, #F5F588 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .left_box{
          display: flex;
          align-items: center;
          img{
            width: .2rem;
            height: .25rem;
          }
          span{
            margin-left: .2rem;
            font-size: .4rem;
            font-weight: bold;
            color: #FFFFFF;
            text-shadow: 0px 0px 7px rgba(52, 255, 204, 0.1);
            background: linear-gradient(0deg, #9AFCC2 0%, #F5F588 61.1083984375%, #F5F588 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      .right{
        border-radius: .1rem;
        padding: 0.1rem .6rem;
        width: 48%;
        background: linear-gradient(0deg, #6717CD 0%, #2871FA 100%);
        h2{
          font-size: .4rem;
          font-weight: bold;
          color: #FFFFFF;
          text-shadow: 0px 0px 7px rgba(52, 255, 204, 0.1);
          background: linear-gradient(-2deg, #FEDC45 0%, #FFF555 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .right_box{
          display: flex;
          align-items: center;
          justify-content: space-between;
          span{
            font-size: .4rem;
            font-weight: bold;
            color: #FFFFFF;
            text-shadow: 0px 0px 7px rgba(52, 255, 204, 0.1);
            background: linear-gradient(-2deg, #FEDC45 0%, #FFF555 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          
        }
        button{
          border: 0;
          padding: .05rem .2rem;
          color: #420798;
          font-weight: bold;
          background: linear-gradient(0deg, #FEDC45 0%, #FFF555 100%);
          box-shadow: 0px 0px 9px 0px rgba(161, 139, 104, 0.89);
          border-radius: 5px;
        }
      }
      }
    }
    .hide{
      display: none;
    }
    .center{
      background: url('~@/assets/images/record_back.png') no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      .box{
        h1{
          font-size: 40px;
          font-weight: bold;
        
        }
        .smt{
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          span{
            font-size: 25px;
            font-weight: bold;
          }
        }
        ul{
          line-height: 50px;
          li{
            font-size: 20px;
          }
        }
      }

    }

    .bottom{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .hide{
        display: none;
      }
      .records{
        width: 49%;
        background-color: #E9E9E9;
        padding: 20px 20px 10px 20px;
        border-radius: 20px;
        text-align: right;
        h1{
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        }
        // .list{
        //   display: flex;
        //   justify-content: space-around;
        //   align-items: center;
        //   li{
        //     font-size: 20px;
        //   font-weight: bold;
        //   }
        // }
        img{
          width: 20px;
          height: 20px;
          text-align: right;
        }
      }
      .icon_input{
        width: 49%;
        background-color: #E9E9E9;
        padding: 40px;
        border-radius: 20px;
        ul{
          display: flex;
          justify-content: space-between;
          li{
            display: flex;
            align-items: center;
            flex-direction: column;
            img{
              width: 50px;
              height: 45px;
            }
            p{
              font-size: 20px;
              font-weight: bold;
              margin-top: .1rem;
            }
          }
        }
        .input_btn{
          width: 100%;
          height: 50px;
          border: 1px solid #000;
          border-radius: 10px;
          display: flex;
          align-items: center;
          margin-top: 20px;
          input{
            border: 0;
            height: 100%;
            width: 85%;
            background-color: transparent;
            padding-left: 10px;
            font-size: .15rem;
            font-weight: bold;
            
          }
          button{
            border-radius: 5px;
            padding: 5px 10px;
background: #EEEA38;
font-weight: bold;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 736px) {
  .invitation_record{
    .top_background{
      background: url('~@/assets/images/invite_sj.png') no-repeat;
      background-size: cover;
      justify-content: center;
      h1{
        font-size: .5rem;
        margin-left: 0;
      }
    }
    .content{
      padding: 20px 20px 40px 20px;
      .top{
        display: flex;
        flex-direction: column;
        .left{
          width: 100%;
          margin-bottom: .2rem;
        }
        .right{
          width: 100%;
        }
      }
  
        .center{
          background: url('~@/assets/images/record_back.png') no-repeat;
          background-size: 100%;
          padding: 0.4rem;
          .box{
            h1{
              font-size: .3rem;
            }
            .smt{
              display: block;
              margin-bottom: 0px;
              span{
                font-size: .25rem;
              }
            }
            ul{
              display: none;
            }
          }
        }

      .hide{
        display: block;
        // line-height: 30px;
        li{
          font-size: .3rem;
          margin-top: .2rem;
        }
      }
      .bottom{
        display: block;
        .hide{
          display: block;
        }
        .icon_input{
          width: 100%;
          padding: 20px;
          ul{
            li{
              img{
                width: .8rem;
                height: .8rem;
              }
              p{
                font-size: .25rem;
              }
            }
          }
          .input_btn{
            height: 1rem;
            button{
              width: 80px;
              // height: 20px;
              padding: .1rem;
              font-size: .3rem;
              margin-right: 10px;
              border: .03rem solid #000;
            }
          }
        }
        .records{
          width: 100%;
          margin-top: .5rem;
          h1{
            font-size: 20px;
          }
          .el-table tr{
            font-size: .3rem;
          }
        }
        .show{
          display: none;
        }
      }
    }
  }
}
