.main {
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}
.main .simeta_one {
  padding: 0.8rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .simeta_one .left_word {
  font-family: Times New Roman;
}
.main .simeta_one .left_word h1 {
  font-size: 0.9rem;
  font-weight: bold;
}
.main .simeta_one .left_word p {
  font-size: 0.25rem;
  font-weight: 400;
  color: #262626;
}
.main .simeta_one .left_word .one_btn {
  display: flex;
  margin-top: 0.3rem;
}
.main .simeta_one .left_word .one_btn button {
  background-color: #ffec1d;
  font-size: 0.3rem;
  font-weight: bold;
  border: 0;
  width: 2.2rem;
  height: 0.6rem;
  color: #272727;
}
.main .simeta_one .left_word .one_btn button:first-child {
  margin-right: 0.2rem;
}
.main .simeta_one .right_img .border {
  width: 450px;
  height: 450px;
  border: 10px solid linear-gradient(0deg, #6717CD 0%, #2871FA 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .simeta_one .right_img .border img {
  width: 4rem;
  height: 4rem;
}
.main .shop_to_earn {
  padding: 0.5rem 3rem;
  background: url('~@/assets/images/background_one.png') no-repeat;
}
.main .shop_to_earn .shop_box .title {
  font-size: 0.5rem;
  text-align: center;
  font-family: Times New Roman;
  font-weight: bold;
}
.main .shop_to_earn .shop_box .shop_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.main .shop_to_earn .shop_box .shop_one .word h1 {
  font-size: 0.5rem;
  font-weight: bold;
}
.main .shop_to_earn .shop_box .shop_one .word p {
  font-size: 0.25rem;
  font-weight: bold;
}
.main .shop_to_earn .shop_box .shop_one img {
  width: 4rem;
  height: 3rem;
}
.main .scenarios_smt {
  padding: 0.5rem 3rem;
  background: url('~@/assets/images/background_three.png') no-repeat;
}
.main .scenarios_smt .title {
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.main .scenarios_smt .servies_one {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}
.main .scenarios_smt .servies_one .one {
  background: #f8f1b8;
  margin-left: 0.2rem;
}
.main .scenarios_smt .servies_one .two {
  background: #cbd3ef;
  margin-right: 0.2rem;
}
.main .scenarios_smt .servies_one .three {
  background: #f4c9be;
  margin-left: 0.2rem;
}
.main .scenarios_smt .servies_one .services {
  flex: 1;
  padding: 0.2rem;
  border-radius: 0.1rem;
}
.main .scenarios_smt .servies_one .services h1 {
  font-size: 0.25rem;
  font-weight: bold;
}
.main .scenarios_smt .servies_one .services ul {
  line-height: 0.4rem;
}
.main .scenarios_smt .servies_one .services ul li {
  font-size: 0.2rem;
}
.main .scenarios_smt .servies_one img {
  width: 2rem;
  height: 2rem;
}
.main .usage_fee {
  padding: 0.5rem 3rem;
  background: url('~@/assets/images/background_four.png') no-repeat;
}
.main .usage_fee h1 {
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.main .usage_fee .echartsAndword {
  display: flex;
  align-items: center;
}
.main .usage_fee .echartsAndword .echarts {
  width: 500px;
  height: 500px;
}
.main .usage_fee .echartsAndword ul {
  line-height: 0.5rem;
}
.main .usage_fee .echartsAndword ul li {
  font-size: 0.25rem;
}
.main .steps {
  padding: 0.5rem 3rem;
  background: url('~@/assets/images/background_five.png') no-repeat;
  text-align: center;
}
.main .steps h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 1450px) {
  .main .steps .one {
    left: 1.5rem !important;
  }
  .main .steps .two {
    left: 1.5rem !important;
  }
  .main .steps .three {
    right: 1.5rem !important;
  }
  .main .steps .four {
    right: 1.5rem !important;
  }
  .main .steps .five {
    left: 1.5rem !important;
  }
}
@media screen and (max-width: 736px) {
  .main {
    padding: 0px;
    background-color: #f6f6f6;
  }
}
.sj .top_box {
  padding: 70px 20px;
}
.sj .top_box .img_box .word {
  text-align: center;
}
.sj .top_box .img_box .word h1 {
  font-size: 50px;
  font-weight: bold;
}
.sj .top_box .img_box .word p {
  font-size: 15px;
  text-align: left;
}
.sj .top_box .img_box .word .btn_box {
  margin-top: 20px;
}
.sj .top_box .img_box .word .btn_box button {
  background-color: #FFEC1D;
  color: #000;
  font-weight: bold;
  border: 0;
  width: 100px;
  height: 30px;
}
.sj .top_box .img_box .word .btn_box .one {
  margin-right: 5px;
}
.sj .top_box .img_box .word .btn_box .two {
  margin-left: 5px;
}
.sj .shop_earn {
  background: url('~@/assets/images/background_sj_one.png') no-repeat;
  background-size: cover;
  padding: 30px 30px;
}
.sj .shop_earn h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.sj .shop_earn .box {
  margin-top: 30px;
}
.sj .shop_earn .box .word {
  margin: 30px 0px;
}
.sj .shop_earn .box .word h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}
.sj .shop_earn .box .word p {
  font-size: 15px;
}
.sj .scenarios_smt_sj {
  padding: 30px;
  text-align: center;
  background: url('~@/assets/images/background_sj_three.png') no-repeat;
}
.sj .scenarios_smt_sj h1 {
  font-size: 35px;
  font-weight: bold;
}
.sj .scenarios_smt_sj .word {
  margin-top: 20px;
}
.sj .scenarios_smt_sj .word img {
  width: 150px;
  height: 150px;
}
.sj .scenarios_smt_sj .word .one {
  background: #f4efb7;
}
.sj .scenarios_smt_sj .word .two {
  background: #c7cde7;
}
.sj .scenarios_smt_sj .word .three {
  background: #eac7ba;
}
.sj .scenarios_smt_sj .word .word_and {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}
.sj .scenarios_smt_sj .word .word_and h2 {
  font-size: 20px;
  font-weight: bold;
}
.sj .scenarios_smt_sj .word .word_and ul {
  text-align: left;
  line-height: 30px;
}
.sj .echarts_sj {
  text-align: center;
  padding: 30px 30px;
  background: url('~@/assets/images/background_sj_four.png') no-repeat;
}
.sj .echarts_sj h1 {
  font-size: 30px;
  font-weight: bold;
}
.sj .echarts_sj .echarts {
  width: 350px;
  height: 350px;
  margin-top: 20px;
}
.sj .echarts_sj ul {
  text-align: left;
}
.sj .echarts_sj ul li {
  margin-bottom: 20px;
  font-size: 15px;
}
.sj .steps_sj {
  background: url('~@/assets/images/background_sj_five.png') no-repeat;
  padding: 30px 30px;
}
.sj .steps_sj h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.sj .steps_sj .ha {
  margin-top: 20px;
  display: flex;
}
.sj .steps_sj .ha img {
  width: 50px;
}
.sj .steps_sj .ha .phase_box {
  margin-left: 20px;
}
.sj .steps_sj .ha .phase_box .phase h2 {
  font-size: 20px;
  font-weight: bold;
  color: #DF1920;
}
.sj .steps_sj .ha .phase_box .phase h3 {
  font-size: 15px;
  font-weight: 400;
  color: #203383;
}
.sj .steps_sj .ha .phase_box .phase ul {
  padding: 10px;
  border: 2px solid #6880E2;
  border-radius: 10px;
}
.sj .steps_sj .ha .phase_box .phase ul li {
  font-size: 14px;
  text-align: left;
}
