
.main {
  scroll-behavior: smooth;
  
  background-color: #f6f6f6;
  // .inner{
  //   width: 100%;
  //   max-width: 1200px;
  //   box-sizing: border-box;
  //   margin: 0 auto;
  // }
  .simeta_one{
    padding: 2rem 3.7rem 0.8rem 3.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left_word{
      
      font-family: Times New Roman;
      h1{
        font-size: .9rem;
        font-weight: bold;
      }
      p{
        font-size: .25rem;
        font-weight: 400;
        color: #262626;
        // line-height: 49px;
      }
      .one_btn{
        display: flex;
        margin-top: .30rem;
        button{
          border-radius: 10px;
          background-color: #ffec1d;
          font-size: .3rem;
          font-weight: bold;
          border: 0;
          width: 2.2rem;
          height: .6rem;
          color: #272727;
        }
        button:first-child{
          margin-right: .2rem;
        }
      }
    }
    .right_img{
  
      .border{
        width: 450px;
        height: 450px;
        border: 10px solid linear-gradient(0deg, #6717CD 0%, #2871FA 100%); 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 4rem;
    height: 4rem;
  }
      }
    }
  }
  
  .shop_to_earn{
    padding: .5rem 3.8rem 1rem;
    background: url('~@/assets/images/background_one.png') no-repeat;
    .shop_box{
      .title{
        font-size: .5rem;
        text-align: center;
        font-family: Times New Roman;
    font-weight: bold;
      }
      .shop_one{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .word{
          h1{
            font-size: .5rem;
            font-weight: bold;
          }
          p{
            font-size: .25rem;
            font-weight: bold;
          }
        }
        img{
          width: 4rem;
          height: 3rem;
        }
      }
    }

  }
  
  .scenarios_smt{
    // margin: 0.8rem 2rem;
    padding: .5rem 3.8rem;
    background: url('~@/assets/images/background_three.png') no-repeat;
    .title{
      text-align: center;
      font-size: .5rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }
    .servies_one{
      display: flex;
      align-items: center;
      margin-bottom: .3rem;
      .one{
        background: #f8f1b8;
        margin-left: .2rem;
      }
      .two{
        background: #cbd3ef;
        margin-right: .2rem;
      }
      .three{
        background: #f4c9be;
        margin-left: .2rem;
      }
      .services{
        flex:1;
        padding: .2rem;
        border-radius: .1rem;
        h1{
          font-size: .25rem;
          font-weight: bold;
        }
        ul{
          line-height: .4rem;
          li{
            font-size: .2rem;
          }
        }
      }
      img{
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  
  .usage_fee{
    // margin: 0.8rem 2rem;
    padding: .5rem 3.8rem;
    background: url('~@/assets/images/background_four.png') no-repeat;
    h1{
      text-align: center;
      font-size: .5rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }
    .echartsAndword{
      display: flex;
      // justify-content: space-between;
      align-items: center;
      .echarts{
        width: 500px;height: 500px;
      }
      ul{
        line-height: .5rem;
        li{
          font-size: .25rem;
          font-weight: bold;
        }
      }
    }
  }
  
  .steps{
    padding: .5rem 3.8rem;
    background: url('~@/assets/images/background_five.png') no-repeat;
    text-align: center;
    h1{
      font-size: 50px;
      font-weight: bold;
      margin-bottom: .5rem;
    }
    img{
      // width: 10rem;
    }
  
    @media screen and (max-width: 1450px) {
      .one{
        left: 1.5rem !important;
      }
      .two{
        left: 1.5rem !important;
      }
      .three{
        right: 1.5rem !important;
      }
      .four{
        right: 1.5rem !important;
      }
      .five{
        left: 1.5rem !important;
      }
    }
  }
}

@media screen and (max-width: 736px) {
  .main{
      padding: 0px;
      background-color: #f6f6f6;
  }
}

.sj{
  .top_box{
    padding: 70px 20px;
    .img_box{
      .word{
        text-align: center;
        h1{
          font-size: 50px;
          font-weight: bold;
        }
        p{
          font-size: 15px;
          text-align: left;
        }
        .btn_box{
          margin-top: 20px;
          button{
            background-color: #FFEC1D;
            color: #000;
            font-weight: bold;
            border: 0;
            width: 100px;
            height: 30px;
          }
          .one{
            margin-right: 5px;
          }
          .two{
            margin-left: 5px;
          }
        }
      }
    }
  }

  .shop_earn{
    background: url('~@/assets/images/background_sj_one.png') no-repeat;
    background-size: cover;
    padding: 30px 30px;
    h1{
      text-align: center;
      font-size: 35px;
      font-weight: bold;
    }
    .box{
      margin-top: 30px;
      .word{
        margin: 30px 0px;
        h2{
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          margin-top: 20px;
        }
        p{
          font-size: 15px;
        }
      }
    }
  }

  .scenarios_smt_sj{
    padding: 30px;
    text-align: center;
    background: url('~@/assets/images/background_sj_three.png') no-repeat;
    h1{
      
      font-size: 35px;
      font-weight: bold;
    }
    .word{
      margin-top: 20px;
      img{
        width: 150px;
        height: 150px;
      }
      .one{
        background: #f4efb7;
      }
      .two{
        background: #c7cde7;
      }
      .three{
        background: #eac7ba;
      }
      .word_and{
       
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
        h2{
          font-size: 20px;
          font-weight: bold;
        }
        ul{
          text-align: left;
          line-height: 30px;
        }
      }
    }
  }

  .echarts_sj{
    text-align: center;
    padding: 30px 30px;
    background: url('~@/assets/images/background_sj_four.png') no-repeat;
    h1{
      font-size: 30px;
      font-weight: bold;
    }
    .echarts{
      width: 350px;
      height: 350px;
      margin-top: 20px;
    }
    ul{
      text-align: left;
      li{
        margin-bottom: 20px;
        font-size: 15px;
      }
    }
  }


  .steps_sj{
    background: url('~@/assets/images/background_sj_five.png') no-repeat;
    padding: 30px 30px;
    h1{
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
    .ha{
      margin-top: 20px;
      display: flex;
      img{
        width: 50px;
      }
      .phase_box{
        margin-left: 20px;
        .phase{
          h2{
            font-size: 20px;
            font-weight: bold;
    color: #DF1920;
          }
          h3{
            font-size: 15px;
            font-weight: 400;
    color: #203383;
          }
          ul{
            padding: 10px;
            border: 2px solid #6880E2;
            border-radius: 10px;
            li{
              font-size: 14px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

