.simeta_one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem 2rem;
}
.simeta_one .left_word {
  font-family: Times New Roman;
}
.simeta_one .left_word h1 {
  font-size: 90px;
  font-weight: bold;
}
.simeta_one .left_word p {
  font-size: 25px;
  font-weight: 400;
  color: #262626;
}
.simeta_one .left_word .one_btn {
  display: flex;
  margin-top: 30px;
}
.simeta_one .left_word .one_btn button {
  background-color: #ffec1d;
  font-size: 30px;
  font-weight: bold;
  border: 0;
  width: 220px;
  height: 60px;
  color: #272727;
}
.simeta_one .left_word .one_btn button:first-child {
  margin-right: 20px;
}
.simeta_one .right_img .border {
  width: 450px;
  height: 450px;
  border: 10px solid linear-gradient(0deg, #6717CD 0%, #2871FA 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simeta_one .right_img .border img {
  width: 400px;
  height: 400px;
}
.shop_to_earn {
  margin: 0.8rem 2rem;
}
.shop_to_earn .title {
  font-size: 50px;
  text-align: center;
  font-family: Times New Roman;
  font-weight: bold;
}
.shop_to_earn .shop_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop_to_earn .shop_one .word h1 {
  font-size: 50px;
  font-weight: bold;
}
.shop_to_earn .shop_one .word p {
  font-size: 25px;
  font-weight: bold;
}
.shop_to_earn .shop_one img {
  width: 400px;
  height: 300px;
}
.scenarios_smt {
  margin: 0.8rem 2rem;
}
.scenarios_smt .title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.scenarios_smt .servies_one {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.scenarios_smt .servies_one .one {
  background: #FFEC1D;
  margin-left: 20px;
}
.scenarios_smt .servies_one .two {
  background: #6880E2;
  margin-right: 20px;
}
.scenarios_smt .servies_one .three {
  background: #F4643C;
  margin-left: 20px;
}
.scenarios_smt .servies_one .services {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
}
.scenarios_smt .servies_one .services h1 {
  font-size: 25px;
  font-weight: bold;
}
.scenarios_smt .servies_one .services ul {
  line-height: 40px;
}
.scenarios_smt .servies_one .services ul li {
  font-size: 20px;
}
.scenarios_smt .servies_one img {
  width: 200px;
  height: 200px;
}
.usage_fee {
  margin: 0.8rem 2rem;
}
.usage_fee h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.usage_fee .echartsAndword {
  display: flex;
  align-items: center;
}
.usage_fee .echartsAndword .echarts {
  width: 500px;
  height: 500px;
}
.usage_fee .echartsAndword ul {
  line-height: 50px;
}
.usage_fee .echartsAndword ul li {
  font-size: 25px;
}
.steps {
  text-align: center;
}
.steps h1 {
  font-size: 50px;
  font-weight: bold;
}
.steps .box {
  position: relative;
  margin-bottom: 50px;
}
.steps .box img {
  width: 100px;
}
.steps .box .one {
  position: absolute;
  top: 0;
  left: 500px;
  width: 380px;
}
.steps .box .two {
  position: absolute;
  top: 300px;
  left: 500px;
  width: 380px;
}
.steps .box .three {
  position: absolute;
  top: 60px;
  right: 500px;
  width: 380px;
}
.steps .box .four {
  position: absolute;
  top: 430px;
  right: 500px;
  width: 380px;
}
.steps .box .five {
  position: absolute;
  bottom: 140px;
  left: 500px;
  width: 380px;
}
.steps .box .phase h2 {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  color: #DF1920;
}
.steps .box .phase h3 {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  color: #203383;
}
.steps .box .phase ul {
  padding: 15px;
  border: 6px solid #6880E2;
  border-radius: 10px;
}
.steps .box .phase ul li {
  font-size: 20px;
  text-align: left;
}
.steps .box .phase_bottom {
  width: 600px;
  margin: 0 auto;
}
.steps .box .phase_bottom ul {
  padding: 15px;
  border: 6px solid #6880E2;
  border-radius: 10px;
}
.steps .box .phase_bottom ul li {
  font-size: 20px;
  text-align: left;
}
@media screen and (max-width: 1450px) {
  .steps .one {
    left: 280px !important;
  }
  .steps .two {
    left: 280px !important;
  }
  .steps .three {
    right: 280px !important;
  }
  .steps .four {
    right: 280px !important;
  }
  .steps .five {
    left: 280px !important;
  }
}
.sj {
  padding: 60px 20px;
}
.sj .top_box .img_box .word {
  text-align: center;
}
.sj .top_box .img_box .word h1 {
  font-size: 30px;
  font-weight: bold;
}
.sj .top_box .img_box .word p {
  font-size: 15px;
}
.sj .top_box .img_box .word .btn_box {
  margin-top: 20px;
}
.sj .top_box .img_box .word .btn_box button {
  background-color: #FFEC1D;
  color: #000;
  font-weight: bold;
  border: 0;
  width: 100px;
  height: 30px;
}
.sj .top_box .img_box .word .btn_box .one {
  margin-right: 5px;
}
.sj .top_box .img_box .word .btn_box .two {
  margin-left: 5px;
}
.sj .shop_earn {
  padding: 30px 10px;
}
.sj .shop_earn h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.sj .shop_earn .box {
  margin-top: 30px;
}
.sj .shop_earn .box .word {
  margin-top: 10px;
}
.sj .shop_earn .box .word h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.sj .shop_earn .box .word p {
  font-size: 13px;
}
.sj .scenarios_smt_sj {
  padding: 30px 10px;
  text-align: center;
}
.sj .scenarios_smt_sj h1 {
  font-size: 30px;
  font-weight: bold;
}
.sj .scenarios_smt_sj .word {
  margin-top: 20px;
}
.sj .scenarios_smt_sj .word img {
  width: 150px;
  height: 150px;
}
.sj .scenarios_smt_sj .word .one {
  background: #FFEC1D;
}
.sj .scenarios_smt_sj .word .two {
  background: #6880E2;
}
.sj .scenarios_smt_sj .word .three {
  background: #F4643C;
}
.sj .scenarios_smt_sj .word .word_and {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}
.sj .scenarios_smt_sj .word .word_and h2 {
  font-size: 20px;
  font-weight: bold;
}
.sj .scenarios_smt_sj .word .word_and ul {
  text-align: left;
  line-height: 30px;
}
.sj .echarts_sj {
  text-align: center;
  padding: 30px 10px;
}
.sj .echarts_sj h1 {
  font-size: 30px;
  font-weight: bold;
}
.sj .echarts_sj .echarts {
  width: 400px;
  height: 400px;
}
.sj .echarts_sj ul {
  text-align: left;
}
.sj .echarts_sj ul li {
  margin-bottom: 20px;
  font-size: 15px;
}
.sj .steps_sj {
  padding: 30px 10px;
}
.sj .steps_sj h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.sj .steps_sj .ha {
  margin-top: 20px;
  display: flex;
}
.sj .steps_sj .ha img {
  width: 50px;
}
.sj .steps_sj .ha .phase_box {
  margin-left: 20px;
}
.sj .steps_sj .ha .phase_box .phase h2 {
  font-size: 20px;
  font-weight: bold;
  color: #DF1920;
}
.sj .steps_sj .ha .phase_box .phase h3 {
  font-size: 15px;
  font-weight: 400;
  color: #203383;
}
.sj .steps_sj .ha .phase_box .phase ul {
  padding: 10px;
  border: 2px solid #6880E2;
  border-radius: 10px;
}
.sj .steps_sj .ha .phase_box .phase ul li {
  font-size: 14px;
  text-align: left;
}
